.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  border: 1px solid rgba(201, 198, 198, 0.829);
  text-align: center;
  border-radius: 4px;
  padding: 40px;
}

.input-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-area input {
  height: 20px;
}

.sum-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hasil-area {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.sum-area button {
  padding: 5px 10px;
  font-size: 14px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
